* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
}

section{
    margin: 200px 220px;
    display: flex;
    height: 300px;
    border-radius: 10px;
} 

.imgdrawer {
    width: 350px;
    height: 300px;
    border-radius: 10px 0px 0px 10px;
}

.row2 {
    margin-right: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.row2 h1 {
    font-size: 26px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin-bottom: 15px;
}

.row2 p {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    color: hsl(212, 23%, 69%);
    margin-right: 40px;
    margin-bottom: 15px;
}

.row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.imgavatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.details {
    flex: 1;
    margin-left: 20px;
    
}

.details .name {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin-bottom: 3px;
}

.details .date {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    color: hsl(212, 23%, 69%);
}

.link-share {
    padding: 8px 9px;
    border-radius: 50%;
}

.icon-share {
    padding: 8px 7px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
}

#share {
    display: flex;
    justify-content: space-around;
    padding: 15px 30px;
    background: hsl(217, 19%, 35%);
    border-radius: 10px;
    position: absolute;
    top: -70px;
    right: -100px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

#share::after {
    content: "";
    display: flex;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top: 14px solid hsl(217, 19%, 35%);
    top: 47px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

#share h4 {
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    color: hsl(212, 23%, 69%);
    margin: 0px 10px;
}

#share li {
    list-style: none;
    margin: 0px 7px;
}

.facebook,
.twitter,
.pin-interest {
    width: 15px;
}

.icon-sharemobile {
    padding: 8px 7px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    display: block;
    margin-left: 35px;
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/*MEDIA QUERIES*/

@media (max-width: 375px) {
    section{
        margin: 50px 25px;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
    } 
    
    .imgdrawer {
        width: 86%;
        height: auto;
        border-radius: 10px 10px 0px 0px;
    }
    
    .row2 {
        width: 86%;
        margin-top: -10px;
        padding: 30px 20px 10px;
        background-color: #fff;
        border-radius: 0px 0px 10px 10px;
    }
    
    .row2 h1 {
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        margin-bottom: 15px;
    }
    
    .row2 p {
        font-size: 14px;
        font-weight: 500;
        font-family: 'Manrope', sans-serif;
        color: hsl(212, 23%, 69%);
        margin-right: 0px;
        margin-bottom: 40px;
    }
    
    .row3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .imgavatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .details {
        flex: 1;
        margin-left: 10px;
        
    }
    
    .details .name {
        font-size: 14px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        margin-bottom: 4px;
    }
    
    .details .date {
        font-size: 12px;
        font-family: 'Manrope', sans-serif;
        color: hsl(212, 23%, 69%);
    }
    
    .link-share {
        padding: 8px 9px;
        border-radius: 50%;
    }
    
    .icon-share {
        padding: 8px 7px;
        background-color: hsl(210, 46%, 95%);
        border-radius: 50%;
    }
    
    #share {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 115%;
        padding: 15px 30px 15px 15px;
        background: hsl(217, 19%, 35%);
        border-radius: 0px 0px 10px 10px;
        top: -20px;
        right: -20px;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }
    
    #share::after {
        content: "";
        display: none;
        position: absolute;
        width: 0;
        height: 0;
        top: 47px;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }
    
    #share h4 {
        font-size: 13px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        letter-spacing: 4px;
        color: hsl(212, 23%, 69%);
        margin: 0px 10px;
    }
    
    #share li {
        list-style: none;
        margin: 0px 7px;
    }
    
    .facebook,
    .twitter,
    .pin-interest {
        width: 22px;
    }   

    .icon-sharemobile {
        padding: 8px 7px;
        background-color: hsl(210, 46%, 95%);
        border-radius: 50%;
        display: block;
        margin-left: 35px;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        position: absolute;
        bottom: 0px;
    }
}


@media (min-width: 1440px) {
    body {
        background-color: hsl(210, 46%, 95%);
    }
    
    section{
        margin: 200px 220px;
        display: flex;
        height: 300px;
        border-radius: 10px;
    } 
    
    .imgdrawer {
        width: 350px;
        height: 300px;
        border-radius: 10px 0px 0px 10px;
    }
    
    .row2 {
        margin-right: 50px;
        padding: 30px;
        background-color: #fff;
        border-radius: 0px 10px 10px 0px;
    }
    
    .row2 h1 {
        font-size: 26px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        margin-bottom: 15px;
    }
    
    .row2 p {
        font-size: 14px;
        font-weight: 500;
        font-family: 'Manrope', sans-serif;
        color: hsl(212, 23%, 69%);
        margin-right: 40px;
        margin-bottom: 15px;
    }
    
    .row3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .imgavatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .details {
        flex: 1;
        margin-left: 20px;
        
    }
    
    .details .name {
        font-size: 14px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        margin-bottom: 3px;
    }
    
    .details .date {
        font-size: 13px;
        font-family: 'Manrope', sans-serif;
        color: hsl(212, 23%, 69%);
    }
    
    .link-share {
        padding: 8px 9px;
        border-radius: 50%;
    }
    
    .icon-share {
        padding: 8px 7px;
        background-color: hsl(210, 46%, 95%);
        border-radius: 50%;
    }
    
    #share {
        display: flex;
        justify-content: space-around;
        padding: 15px 30px;
        background: hsl(217, 19%, 35%);
        border-radius: 10px;
        position: absolute;
        top: -70px;
        right: -100px;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }
    
    #share::after {
        content: "";
        display: flex;
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom: 0;
        border-top: 14px solid hsl(217, 19%, 35%);
        top: 47px;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }
    
    #share h4 {
        font-size: 12px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        letter-spacing: 4px;
        color: hsl(212, 23%, 69%);
        margin: 0px 10px;
    }
    
    #share li {
        list-style: none;
        margin: 0px 7px;
    }
    
    .facebook,
    .twitter,
    .pin-interest {
        width: 15px;
    }


    .icon-sharemobile {
        padding: 8px 7px;
        background-color: hsl(210, 46%, 95%);
        border-radius: 50%;
        display: block;
        margin-left: 35px;
        display: none;
    }
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    
}







/*
font-family: 'Manrope', sans-serif;
*/