* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
}

section{
    margin: 200px 220px;
    display: flex;
    height: 300px;
    border-radius: 10px;
} 

.imgdrawer {
    width: 350px;
    height: 300px;
    border-radius: 10px 0px 0px 10px;
}

.row2 {
    margin-right: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.row2 h1 {
    font-size: 26px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin-bottom: 15px;
}

.row2 p {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    color: hsl(212, 23%, 69%);
    margin-right: 40px;
    margin-bottom: 15px;
}

.row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.imgavatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.details {
    flex: 1;
    margin-left: 20px;
    
}

.details .name {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin-bottom: 3px;
}

.details .date {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    color: hsl(212, 23%, 69%);
}

.link-share {
    padding: 7px 8px;
    border-radius: 50%;
    background-color: hsl(214, 17%, 51%);
}


.icon-share {
    filter: invert(10);   
}


.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px 30px;
    background: hsl(217, 19%, 35%);
    border-radius: 10px;
    position: absolute;
    top: -70px;
    right: -100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top: 14px solid hsl(217, 19%, 35%);
    top: 47px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar h4 {
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    color: hsl(212, 23%, 69%);
    margin: 0px 10px;
}

.navbar li {
    list-style: none;
    margin: 0px 7px;
}

.facebook,
.twitter,
.pin-interest {
    width: 15px;
}










/*
font-family: 'Manrope', sans-serif;
*/